# -------------------------
# General
# -------------------------
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# -------------------------
# IDEs / Editors
# -------------------------
*.iml
*.ipr
*.iws
.idea/
.vscode/

# -------------------------
# Flutter / Dart / Pub
# -------------------------
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# -------------------------
# Android
# -------------------------
# Gradle
.gradle/
**/.gradle/
android/.gradle/
android/.gradle/**
android/app/build/
android/app/release/
android/app/profile/
android/app/debug/
# Keystore files (contains sensitive information, should not be committed)
android/key.properties
android/upload-keystore.jks
*.jks
*.keystore


# Local Properties (contains SDK paths, should not be committed)
android/local.properties

# -------------------------
# iOS / Xcode
# -------------------------
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# -------------------------
# Symbolication & Obfuscation
# -------------------------
app.*.symbols
app.*.map.json
